.NavBar {
display: flex;
justify-content: space-evenly;
width: 500px;
border: 1px solid  lightblue;
margin: 0 auto;
margin-top:10px
}

.NavBar *{
  text-decoration: none;
  padding:10px;
  font-size:25px;
  text-transform: capitalize;
  font-weight: bold;
  color: darkcyan
}

.gallery-wrapper{
  width: 1000px;
  margin: 0 auto;
}
.gallery-wrapper > * {
  margin-top:10px
}